app-footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background: url('../../../images/background.svg') bottom -32rem right no-repeat;
	background-size: 60rem;
	min-height: 100%;
	z-index: -1;

	@media (max-width: 47.94em), (max-height: 23.44em) {
		background: url('../../../images/background.svg') bottom -11rem right no-repeat;
		background-size: 36rem;
	}

}

//Extra small devices Phones (<768px)	Small devices Tablets (≥768px)	Medium devices Desktops (≥992px)	Large devices Desktops (≥1200px)
