<elements-page-title pageTitle="About me"></elements-page-title>

<elements-content-container [background]="true" class="about-me">
	<h2 class="about-me__name">Samantha Adrichem</h2>
	<div class="about-me__description">
		<p>Since I was four years old, computers were a part of my life. Starting with an Intel 80386 computer which allowed us to play games like Micro Machines, Roger Rabbit, Prince of Persia and many others. I've now ended up with a Intel Core i7-3630QM laptop and I can't imagine how the old days used to be.</p>
		<p>Around the age of 6 I used a book and wrote very small image rendering programs on my fathers MSX and around the age of twelve, I started writing small applications in languages like visual basic and PHP.</p>
		<p>Since then I've become a professional developer and gotten an extensive knowledge of the world wide web. At the start I focused mostly on backend development in languages like PHP and MySQL. Until our company decided to split the development team into a frontend and a backend team.</p>
		<p>Having more affinity with visual development than with data (though I know my way around data). I've switched from lead-developer at the backend team to lead-developer at the newly created frontend team. Learning new languages like typescript and the usage of new frameworks like angular. It seems to me that frontend these days is becoming far more challenging than backend and I hope I will be able to keep learning more.</p>
	</div>
	<ul class="about-me__list">
		<li>
			<span class="fa-layers fa-fw">
				<i class="fa-fw fas fa-map-marker"></i>
				<i class="fa-fw fas fa-circle about-me__list__marker-dot" data-fa-transform="shrink-10 up-2"></i>
			</span>
			<span class="about-me__list__text">Almere, The Netherlands</span>
		</li>
		<li>
			<i class="fa-fw fas fa-graduation-cap"></i>
			<span class="about-me__list__text">HBO Software engineering (in progress)</span>
		</li>
		<li>
			<i class="fa-fw far fa-language"></i>
			<span class="about-me__list__text">Dutch, English</span>
		</li>
		<li>
			<i class="fa-fw fas fa-female"></i>
			<span class="about-me__list__text">{{currentAge}}, Female</span>
		</li>
	</ul>
</elements-content-container>
<elements-contact-profiles></elements-contact-profiles>