<elements-page-title pageTitle="Home"></elements-page-title>

<elements-content-container [background]="false" class="home">
	<home-blog-item *ngFor="let blogItem of blogItems" [blogItem]="blogItem"></home-blog-item>
</elements-content-container>