<div class="header-background clear-fix">
	<div class="header-container">
		<div class="header-container__logo-container" ontouchstart="this.classList.toggle('hover');">
			<div class="header-container__flipper">
				<div class="header-container__flipper__front">
					<img class="header-container__logo" src="/images/logo.png" alt="logo" />
				</div>
				<div class="header-container__flipper__back">
					<img class="header-container__logo" src="/images/logo2.png" alt="logo" />
				</div>
			</div>
		</div>
		<ul class="header-container__menu">
			<li><a [routerLink]="''" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['link-active']">
				<span class="header-container__menu__icon"><i class="fas fa-home"></i></span>
				<span class="header-container__menu__text">Home</span>
			</a></li>
			<li><a [routerLink]="'about'" [routerLinkActive]="['link-active']">
				<span class="header-container__menu__icon"><i class="fal fa-address-card"></i></span>
				<span class="header-container__menu__text">About me</span>
			</a></li>
			<li><a [routerLink]="'skills'" [routerLinkActive]="['link-active']">
				<span class="header-container__menu__icon"><i class="fal fa-book"></i></span>
				<span class="header-container__menu__text">Skills</span>
			</a></li>
			<li><a [routerLink]="'contact'" [routerLinkActive]="['link-active']">
				<span class="header-container__menu__icon"><i class="far fa-envelope-open"></i></span>
				<span class="header-container__menu__text">Contact me</span>
			</a></li>
		</ul>
	</div>
</div>