@import '_vars';

app-header {
	background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 10%, #FFFFFF 38%, #FFFFFF 100%);
	display: block;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 50;

	.header-background {
		background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 37%, $primary-pink 38%, rgba(255,255,255,0) 39%, rgba(255,255,255,0) 100%);

		.header-container {

			max-width: 102.4rem;
			margin: 0 auto;

			/* entire container, keeps perspective */
			&__logo-container {
				perspective: 1000px;
				float: left;
			}

			/* flip the pane when hovered */
			&__logo-container--flipped .header-container__flipper {
				transform: rotateY(180deg);
			}

			&__logo-container,
			&__flipper__front,
			&__flipper__back,
			&__logo-container img {
				width: 18rem;
				height: 18rem;

				@media (max-width: 47.94em), (max-height: 23.44em) {
					width: 13rem;
					height: 13rem;
				}
			}

			/* flip speed goes here */
			&__flipper {
				transition: 1s;
				transform-style: preserve-3d;
				position: relative;
			}

			/* hide back of pane during swap */
			&__flipper__front, &__flipper__back {
				backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				position: absolute;
				top: 0;
				left: 0;
			}

			/* front pane, placed above back */
			&__flipper__front {
				z-index: 2;
				/* for firefox 31 */
				transform: rotateY(0deg);
			}

			/* back, initially hidden pane */
			&__flipper__back {
				transform: rotateY(180deg);
			}


			&__logo {
				margin: 1rem 0 0 0;
			}

			&__menu {
				display: flex;
				flex: 1;
				float: left;
				height: 5rem;
				list-style: none;
				margin-top: 6rem;
				width: calc(100% - 22rem);
				padding: 0;

				&__icon {
					display: none;
				}

				&__text {
					font-size: 2rem;
				}

				li {
					align-items: center;
					display: flex;
					flex: 1;
					float: left;
					user-select: none;

					a {
						align-content: center;
						display: flex;
						flex-direction: column;
						height: 100%;
						justify-content: center;
						text-align: center;
						text-decoration: none;
						transition: color 0.5s ease;
						width: 100%;

						&:hover, &:hover *, &.link-active, &.link-active * {
							color: $primary-pink;
						}

					}
				}
			}

			@media (max-width: 47.94em), (max-height: 23.44em) {
				&__menu {
					background: white;
					border-top: solid 0.2rem $container-border-color;
					bottom: 0;
					height: 8rem;
					left: 0;
					margin: 0;
					padding: 0;
					position: fixed;
					width: 100%;
					z-index: 51;

					li:not(:last-child) {
						border-right: solid 0.1rem $container-border-color;
					}

					&__icon {
						display: block;
					}

					&__text {
						display: block;
						font-size: 1.6rem;
					}
				}
			}
		}

	}


}