<div class="blog-item">
	<h2>{{blogItem.title}}</h2><span class="blog-item__date">{{blogItem.date | date:'d MMM y H:mm'}}</span>
	<div class="clear-fix"></div>
	<elements-content-container [background]="true" class="blog-item__description" [ngClass]="{'blog-item__description--all': showAll}">
		<div class="blog-item__description__data" [innerHTML]="description"></div>
		<a class="blog-item__link" href="javascript:void(0)" (click)="readMoreLess()">{{moreLessText}}</a>
		<div class="clear-fix"></div>
	</elements-content-container>
</div>