ul.skills {
	list-style: none;
	padding: 0 1rem;
	margin: 0;

	@media (max-width: 47.94em), (max-height: 23.44em) {
		padding: 0;
	}

	li:not(:last-child) {
		margin-bottom: 2rem;
	}
}

.skill-search {
	margin: 0 auto;
	position: fixed;
	text-align: right;
	top: 13rem;
	max-width: 101rem;
	width: 100%;
	padding: 0 6rem 0 0;
	z-index: 51;

	@media (max-width: 47.94em), (max-height: 23.44em) {
		top: 10rem;
	}

	input {
		background-clip: padding-box;
		border-radius: 0.32rem;
		border: 0.16rem solid #ced4da;
		color: #495057;
		font-size: 1.4rem;
		line-height: 1.5;
		padding: .4rem .8rem .4rem 3.2rem;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, width ease-in-out .5s;
		background: url('../../../images/search.svg') center left 0.8rem no-repeat #fff;
		background-size: 1.6rem;
		width: 12.8rem;

		&.filled {
			width: 32rem;
		}

		&:focus {
			color: #495057;
			background-color: #fff;
			border-color: #80bdff;
			outline: 0;
			box-shadow: 0 0 0 0.32rem rgba(0,123,255,.25);
			width: 32rem;
		}
	}
}