home-blog-item {

	h2 {
		float: left;
		margin: 0 1rem 0 1rem;
		font-size: 2.3rem;
	}

	.blog-item {

		&__date,
		&__link {
			float: right;
			margin: 0.8rem 1rem 0 1rem;
		}

		&__link {
			clear: both;
			float: right;
			margin: 0 1rem 0 1rem;
		}

		&__description {

			&:not(.blog-item__description--all) {
				.blog-item__description__data {
					display: block;
					width: 100%;
					max-height: 27.7rem; // approximately 14 lines
					@media (max-width: 47.94em), (max-height: 23.44em) {
						height: 26.7rem;
					}

					overflow: hidden;
					text-overflow: ellipsis;

					p:first-child {
						margin-top: 0;
					}

					p:last-child {
						margin-bottom: 0;
					}
				}
			}

			.content-container {
				margin: 1rem 0 0 0;
				width: 100%;
				padding: 1rem 2rem;
			}
		}
	}
}