@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Indie+Flower');

html, body {
	padding: 0;
	margin: 0;
}
html {
	height: 100%;
	font-size: 62.5%;
}
/* Restore p top and bottom margin */
p {
	margin: 1.6rem 0;
}

a, a:visited, a:active {
	color: #0000FF;
}

a:hover {
	text-decoration: nones;
}

*,
.h-font-default {
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 1.6rem;
	color: #333333;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.h-font-writing {
	font-family: 'Indie Flower', cursive;
	color: #333333;
}

.clear-fix::after {
	display: block;
	content: "";
	clear: both;
}

app-body {
	max-width: 102.4rem;
	margin: 19rem auto 3rem auto;
	padding: 0 3rem;
	display: block;

	@media (max-width: 47.94em), (max-height: 23.44em) {
		margin: 15rem auto 0 auto;
		padding: 0 3rem 9rem 3rem;
	}
}