<elements-page-title pageTitle="Skills"></elements-page-title>
<div class="skill-search">
	<input type="search" [(ngModel)]="searchValue" [ngClass]="{'filled': searchValue && searchValue.length > 0}" (focus)="$event.target.select()" (input)="filterItem()" />
</div>
<elements-content-container [background]="true">
	<p *ngIf="displaySkills.length < 1">No skills within your search</p>
	<ul class="skills">
		<li class="skills__skill" *ngFor="let skill of displaySkills; let i = index" [ngClass]="{'skills__skill--odd': 0 === i % 2, 'skills__skill--even': 0 !== i % 2}">
			<skills-skill [skill]="skill"></skills-skill>
		</li>
	</ul>
</elements-content-container>