<elements-page-title pageTitle="Contact me"></elements-page-title>

<elements-content-container [background]="true" class="contact-me">
	<div *ngIf="saveSuccessful">
		<p class="contact-me__thank-you">Thank you for contacting me. I'll get back to you when and if I can.</p>
	</div>
	<elements-loading-container loadingText="Contacting" [isLoading]="isLoading"></elements-loading-container>
	<form (ngSubmit)="onSubmit()" #contactForm="ngForm" *ngIf="!saveSuccessful">
		<div *ngIf="errorMessage">
			<p class="contact-me__form-error">Error: {{errorMessage}}</p>
		</div>
		<div class="contact-me__form-row">
			<label for="name">Your name</label>
			<input
				id="name"
				name="name"
				type="text"

				[(ngModel)]="model.name"
				#name="ngModel"

				required
			>
			<div *ngIf="!name.valid && !name.pristine" class="contact-me__form-row__error" >
				Your name is required
			</div>
		</div>
		<div class="contact-me__form-row">
			<label for="email">Your email</label>
			<input
				id="email"
				name="email"
				type="email"

				[(ngModel)]="model.email"
				#email="ngModel"

				email

				required
			>
			<div *ngIf="!email.valid && !email.pristine" class="contact-me__form-row__error" >
				Your email is required
			</div>
		</div>
		<div class="contact-me__form-row">
			<label for="message">Your message</label>
			<textarea
				id="message"
				name="message"
				rows="6"

				[(ngModel)]="model.message"
				#message="ngModel"

				required
			></textarea>
			<div *ngIf="!message.valid && !message.pristine" class="contact-me__form-row__error" >
				Your message is required
			</div>
		</div>
		<div class="contact-me__form-row">
			<re-captcha
				name="captcha"

				[(ngModel)]="model['g-recaptcha-response']"
				#captcha="ngModel"
				siteKey="6LcSbzwUAAAAAOAVvqcrqAdZe8KrPymPUBDN0eWn"

				required
			></re-captcha>
			<div *ngIf="!captcha.valid && !captcha.pristine" class="contact-me__form-row__error" >
				Invalid captcha
			</div>
		</div>
		<div class="contact-me__button-row">
			<button type="submit" [disabled]="!contactForm.form.valid">Contact me</button>
		</div>
	</form>
</elements-content-container>
<elements-contact-profiles></elements-contact-profiles>