@import '_vars';

elements-content-container {

	.content-container {
		position: relative;
		overflow: hidden;

		margin-left: 18rem;
		width: calc(100% - 18rem);
		padding: 2rem;

		&__background {
			border: solid 0.2rem $container-border-color;
			border-radius: 1.5rem;
			background: rgba(255, 255, 255, 0.9);
		}

		@media (max-width: 47.94em), (max-height: 23.44em) {
			width: 100%;
			margin: 0 auto;
		}
	}
}