.about-me {
	&__name {
		font-size: 5rem;
		margin: 0;
		padding: 0;

		@media (max-width: 47.94em), (max-height: 23.44em) {
			font-size: 3rem;
		}
	}

	&__description {
		margin: 1rem 0 2rem 0;
	}

	&__list {

		list-style: none;
		margin: 0 0 0 1.5rem;
		padding: 0;

		li {
			padding: 0.5rem 0;
		}

		&__text {
			margin-left: 1.5rem;
		}

		&__marker-dot,
		&__marker-dot * {
			color: white;
		}
	}

}