.contact-me {

	&__thank-you {
		display: block;
		border: solid 0.1rem #09AB01;
		background: rgba(9, 171, 1, 0.5);
		padding: 1rem;
		border-radius: 0.5rem;
	}

	&__form-error {
		display: block;
		border: solid 0.1rem #FF0000;
		background: rgba(255, 0, 0, 0.5);
		padding: 1rem;
		border-radius: 0.5rem;
	}

	&__form-row {

		padding: 1rem 0;

		input {
			display: block;
			width: 100%;
			padding: .6rem 1.2rem;
			font-size: 1.6rem;
			line-height: 1.5;
			color: #495057;
			background: #ffffff;
			background-clip: padding-box;
			border: 1px solid #ced4da;
			border-radius: .4rem;
			transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
			max-width: 40rem;

			&:focus {
				border-color: #80bdff;
				outline: 0;
				box-shadow: 0 0 0 0.32rem rgba(0, 123, 255, .25);
			}
		}

		textarea {
			display: block;
			width: 100%;
			padding: .6rem 1.2rem;
			font-size: 1.6rem;
			line-height: 1.5;
			color: #495057;
			background: #ffffff;
			background-clip: padding-box;
			border: 1px solid #ced4da;
			border-radius: .4rem;
			transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

			&:focus {
				border-color: #80bdff;
				outline: 0;
				box-shadow: 0 0 0 0.32rem rgba(0, 123, 255, .25);
			}
		}

		&__error {
			color: #FF0000;
		}
	}

	&__button-row {

		text-align: right;

		button {
			display: inline-block;
			font-weight: 400;
			text-align: center;
			white-space: nowrap;
			vertical-align: middle;
			user-select: none;
			border: 0.1rem solid #007bff;
			padding: .6rem 1.2rem;
			font-size: 1.6rem;
			line-height: 1.5;
			border-radius: .4rem;
			transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

			color: #ffffff;
			background: #007bff;

			&:hover {
				background: #0069d9;
				border: 0.1rem solid #0062cc;
				text-decoration: none;
			}

			&:focus {
				box-shadow: 0 0 0 0.32rem rgba(0, 123, 255, .5);
				outline: 0;
				text-decoration: none;
			}

			&:active:not([disabled]) {
				background: #0062cc;
				border: 0.1rem solid #005cbf;
				box-shadow: 0 0 0 0.32rem rgba(0, 123, 255, .5);
			}

			&:disabled {
				background: #007bff;
				border: 0.1rem solid #007bff;
				opacity: .65;
			}
		}
	}

}