.elements-loading-container,
.elements-loading-container__text {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 49;

	align-items: center;
	animation: fadeOutToNone 0.5s ease-out;
	display: flex;
	justify-content: center;
	width: 100%;

}

.elements-loading-container {
	background-color: #FFFFFF;
}