elements-contact-profiles {
	ul {
		list-style: none;
		width: 100%;
		text-align: right;

		li {
			display: inline-block;
			margin: 0 0.5rem;

			a {
				font-size: 4rem;

				svg {
					background: linear-gradient(0deg, transparent 9%, #FFFFFF 9%, #FFFFFF 83%, transparent 83%);
				}

				.fa-facebook-square, .fa-facebook-square * {
					color: #3B5998;
				}
				.fa-twitter-square, .fa-twitter-square * {
					color: #1DA1F3;
				}
				.fa-linkedin, .fa-linkedin * {
					color: #0077B5;
				}
				.fa-github-square, .fa-github-square * {
					color: #000000;
				}
			}
		}
	}
}