<div class="skill-container">
	<div class="skill-container__logo">
		<img [src]="skill.image" />
	</div>
	<div class="skill-container__head">
		<div class="skill-container__head__title">{{skill.name}}</div>
		<div class="skill-container__head__stars">
			<span *ngFor="let className of stars" class="fa-layers fa-fw">
				<i *ngIf="className" [class]="className"></i>
				<i class="fal fa-star"></i>
			</span>
		</div>
	</div>
	<div class="skill-container__body">
		<div class="skill-container__body__description">
			{{skill.description}}
		</div>
	</div>
	<div class="clear-fix"></div>
</div>