@import '_vars';

.gold-star, .gold-star * {
	color: #ffbb22;
}

.skill-container {

	min-height: 13rem;

	&__logo {
		align-items: center;
		background: white;
		display: flex;
		float: left;
		height: 9rem;
		justify-content: center;
		overflow: hidden;
		width: 9rem;

		@media (max-width: 47.94em), (max-height: 23.44em) {
			width: 6rem;
			height: 6rem;
		}

		&--even {
			float: right;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__head {
		border-bottom: solid 0.2rem $container-border-color;
		float: left;
		font-weight: 700;
		margin: 0 1.5rem;
		padding: 1rem 0 0.5rem 0;
		width: calc(100% - 21rem);

		@media (max-width: 47.94em), (max-height: 23.44em) {
			width: calc(100% - 15rem);
		}

		&__title {
			float: left;
		}

		&__stars {
			float: right;
		}
	}

	&__body {
		float: left;
		padding: 1rem 1.5rem;
		width: calc(100% - 21rem);

		@media (max-width: 47.94em), (max-height: 23.44em) {
			width: calc(100% - 15rem);
		}
	}
}

.skills__skill--even {
	.skill-container {
		&__logo {
			float: right;
		}
		&__body {
			float: right;
			text-align: right;
		}

		&__head {
			float: right;

			&__title {
				float: right;
			}

			&__stars {
				float: left;
			}
		}
	}
}