<ul>
	<li>
		<a href="https://facebook.com/aiwha85" rel="noreferrer noopener" target="_blank">
			<i class="fab fa-facebook-square"></i>
		</a>
	</li>
	<li>
		<a href="https://twitter.com/aiwha" rel="noreferrer noopener" target="_blank">
			<i class="fab fa-twitter-square"></i>
		</a>
	</li>
	<li>
		<a href="https://www.linkedin.com/in/samanthaadrichem" rel="noreferrer noopener" target="_blank">
			<i class="fab fa-linkedin"></i>
		</a>
	</li>
	<li>
		<a href="https://github.com/SamanthaAdrichem" rel="noreferrer noopener" target="_blank">
			<i class="fab fa-github-square"></i>
		</a>
	</li>
</ul>