.app-page-title {

	width: calc(100% - 18rem);
	font-size: 3rem;
	padding: 0 2rem;
	margin: -5rem 0 0.67rem 18rem;

	@media (max-width: 47.94em), (max-height: 23.44em) {
		font-size: 3rem;
		left: 15rem;
		margin: 0.67rem 0;
		padding: 0;
		position: fixed;
		top: 1.5rem;
		width: auto;
		z-index: 51;
	}
}